// 全域設定
*, *::before, *::after{
  box-sizing: border-box;
}
body,
html {
  line-height: 1.5;
  font-family: "Noto Sans", "Roboto", sans-serif;
}

img{
  display:block;
  max-width:100%;
  height:auto; 
}
*,*::before,*::after{
    box-sizing:boder-box;
  }
  img{
    max-width:100%;
    height:auto;
  }
  .font_weight_bold {
    font-weight: bold;
  }
  .display_flex {
    display: flex;
  }
  .display_block{
    display: block;
  }
  .text_center{
    text-align: center;
  }
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
  .position_r {
    position: relative;
  }
  
  @media screen and (max-width: 1110px) {
    .container {
      width: 90%;
  
    
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 690px;
    
    }
  }
  @media screen and (max-width: 414px) {
    .container {
      width: 92%;
      max-width: 345px;
    
    }
  }
  @media screen and (max-width: 320px) {
    .container {
     
      max-width: 288px;
    }
  }
  